/* @media only screen and (max-width: 600px) {
    .header {
        width: auto;
        height: 228vh;
        background-position: inherit;
        background-size: cover;
        background-image: url(playlist2.avif);
        background-position: 100%;
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
} */

* {
    margin: 0;
    padding: 0;
    font-family: 'pop[pins'sans-serif;
}

body {
    background: #080808;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-position: inherit;
    background-size: cover;
    background-image: url(playlist2.jpeg);
    background-position: center center;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: azure;
    font-family: sans-serif;
    font-weight: bold;
  }

  h2 a{
    color: #d11846;
    text-decoration: none;
    margin: 0 44px;
  }

  h2{
    text-align:justify;  
    height: 10px;
  }
  

h1 {
    margin-top: 20px;
    color: #080808;
}

th {
    margin: 11px;
    padding: 75px;
    color:rgb(86 17 238);
    
}

td {
    color:#080808;
    padding: 10px;
}



.icon {
    max-width: 20%;
    align-items: center;
    margin-left: -108%;
    margin-top: 9px;
    cursor: pointer;
    border-style: none;
    z-index: 1;
    /* position: relative; */
}




#music-gif {
    position: absolute;
    left: 4vw;
    height: 44px;
    margin-top: -1%;
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.bottom {
    background-color: rgb(5, 5, 5);
    position: sticky;
    height: 15vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.songinfo {
    display: flex;
    align-items: center;
}

.songinfo img {
    display: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.songinfo.show-gif img {
    display: block;
}

.songinfo img {
    font-family: 'Varela Round', sans-serif;
    width: 70px;
    height: 20px;
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.low {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

#progressbar {
    width: 70vw;
    cursor: pointer;
    background: rgb(189, 5, 5);
}

@media only screen and (max-width: 600px) {
    .header {
    width: 90rem;
    height: 250vh;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    background-image: url(playlist2s.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    }
    .navbar ul li {
        margin: 0 10px;
      }
      h2 a{
        color: #d11846;
        text-decoration: none;
        margin: 0 44px;
      }
    
      h2{
        text-align:justify;  
        height: 10px;
      }
      
    
    h1 {
        margin-top: 20px;
        color: #080808;
    }
    
    th {
        margin: 9px;
        padding: 62px;
        color:rgb(86 17 238);
        
    }
    
    td {
        color:#080808;
        padding: 43px;
    }
    
    
    

    .icon {
        max-width: 4rem;
        margin-left: -118%;
        margin-top: -13px;
    }

    .music-gif {
        position: static;
        margin-top: 79px;
    }

    .bottom {
        height: 71px;
        padding: 10px;
        flex-direction: column;
        margin: 0px;
        left: 20rem;
        width: 41rem;
        align-items: center;
    }

    .songinfo img {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

    .low {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 75%;
        margin-left: 29rem;
    }

    #progressbar {
        width: 80vw;
    }

     /* #ctime,totaltime{
        margin-left: 20rem;
    } */
} 


    

