* {
  margin: 0;
  padding: 0;
  font-family: 'pop[pins'sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  background-image: url(mg.avif);
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo {
  max-width: 10%;
}

.navbar {
  width: 90%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: azure;
  font-family: sans-serif;
  font-weight: bold;
}

.content {
  width: 100%;
  position: absolute;
  top: 35%;
}

.left {
  margin-left: 8%;
}

.left h1 {
  font-size: 90px;
  color: azure;
  line-height: 110px;
  float: left;
}

#icon {
  max-width: 5%;
  align-items: center;
  margin-left: 24%;
  margin-top: 20px;
  cursor: pointer;
  border-style: none;
}

#icon2 {
  max-width: 5%;
  align-items: center;
  margin-left: -12%;
  margin-top: 20px;
  cursor: pointer;
  border-style: none;
}

#icon3 {
  max-width: 5%;
  align-items: center;
  margin-left: 8%;
  margin-top: 0rem;
  cursor: pointer;
  border-style: none;
}

input[type="range"] {
  /* -webkit-appearance: none; */
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}

.volume {
  text-align: center;
  margin: 10px auto;
  width: 58%;
}

#volume_show {
  color: aqua;
  width: 25rem;
}

.duration {
  text-align: center;
  margin: 10px auto;
  width: 59%;
}

#volume_icon {
  color: aqua;
}

#auto {
  text-align: center;
  margin-left: 28%;
}

#music-gif {
  position: absolute;
  height: 56px;
  left: 53%;
  transform: translateX(-50%);
  margin-top: -15%;
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

#services {
  padding: 30px 0;
}

.container2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-list {
  font-display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: -60px;
  display: flex;
  justify-content: center;
}

.services-list div {
  /* width: 25rem; */
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  margin-left: 20px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #2d0982;
  transform: translateY(-10px);
}

.container {
  padding: 10px 4%;
  margin-top: -79px;
}
.fa {
  color: #ff004f;
}

.sub-title {
  font-size: 70px;
  font-weight: 600;
  color: #ffff;
}

h1.sub-title {
  margin-top: 9rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-left {
  flex-basis: 100%;
}

.contact-right {
  flex-basis: 100%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #2d0982;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.container .row {
  margin-right: -10px;
  margin-left: -10px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  margin-top: 20px;
}

.copyright i{
  color: #ff004f;
}

@media only screen and (max-width: 600px) {

  .hero {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    background-image: url(mg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .navbar ul li {
    margin: 0 10px;
  }

  .content {
    top: 30%;
  }

  .left h1 {
    font-size: 40px;
    line-height: 68px;
  }
  #icon {
    max-width: 8%;
    align-items: center;
    margin-left: 10%;
    margin-top: 100px;
    cursor: pointer;
    border-style: none;
}
  
 #icon2 {
    max-width: 8%;
    align-items: center;
    margin-left: -20%;
    margin-top: 20px;
    cursor: pointer;
    border-style: none;
}
  
#icon3 {
  max-width: 8%;
  align-items: center;
  margin-left: 12%;
  margin-top: 0rem;
  cursor: pointer;
  border-style: none;
}

input[type="range"] {
  /* -webkit-appearance: none; */
  width: 67%;
  outline: none;
  height: 4px;
  margin: 0 15px;
}

.volume {
  text-align: center;
  margin: 10px auto;
  width: 100%;
}

#volume_show {
  color: aqua;
}

.duration {
  text-align: center;
  margin: 30px auto;
  width: 100%;
}

#volume_icon {
  color: aqua;
  margin-top: 6rem;
  margin-left: -12rem;
}


  #music-gif {
    position: absolute;
    height: 45px;
    left: 53;
    transform: translateX(-50%);
    margin-top: -25%;
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.content {
  width: 100%;
  position: absolute;
  top: 15%;
}

.services-list {
  font-display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: -10px;
  display: flex;
  justify-content: center;
}

  .services-list div {
    padding: 30px;
    font-size: 12px;
  }

  .services-list div i {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .services-list div h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .services-list div a {
    font-size: 10px;
    margin-top: 15px;
  }

  .sub-title {
    font-size: 40px;
  }
  h1.sub-title {
    margin-top: 13rem;
  }
  
  .contact-left {
    flex-basis: 100%;
    margin-top:-7rem;
  }

  /* .contact-left p i {
    font-size: 20px;
  } */

  .social-icons a {
    font-size: 24px;
    margin-right: 10px;
  }

  .btn.btn2 {
    font-size: 16px;
  }
}
